@model PersonalPhotos.ViewModels.ResetPasswordViewModel
@{
  ViewData["Title"] = "Reset Password";
}

<h2>Reset Password</h2>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div asp-validation-summary="ModelOnly"></div>
            <form method="post" asp-controller="Logins" asp-action="ResetPassword">
                <div class="form-group">
                    <label for="email" asp-for="EmailAddress">Email Address:</label>
                    <input type="text" id="email" asp-for="EmailAddress" />
                </div>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
</div>
